#directions dd {
    margin-bottom: var(--space-2x);
    display: flex;
    gap: var(--space-1x);
    align-items: center;
    border-bottom: solid 1px #ccc;
    padding: var(--space-1x) 0;
}

#directions dt {
    font-weight: 500;
}
