#journey {
    --button-width: 6em;
}

html[lang="en"] #journey {
    --button-width: 5em;
}

#journey input[type='search'] {
    /* same padding as button, to align */
    padding: var(--button-padding-y); 
}