variables:
- group: "production"
- group: "production-app"

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - app

pool:
  vmImage: ubuntu-latest

jobs:
- job: CI
  steps:
  - task: Npm@1
    displayName: 'npm install'
    inputs:
      command: 'ci'
      workingDir: 'app'
  - task: DownloadSecureFile@1
    name: dotEnvProduction
    displayName: 'Download .env.production'
    inputs:
      secureFile: '.env.production'
  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        echo Installing $(dotEnvProduction.secureFilePath) to build directory
        cp $(dotEnvProduction.secureFilePath) $(Build.Repository.LocalPath)/app/.env.production
  - task: Npm@1
    displayName: 'npm build'
    inputs:
      command: 'custom'
      workingDir: 'app'
      customCommand: 'run build'
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'app/dist'
      publishLocation: 'pipeline'
      artifact: 'app'

- deployment: CD
  dependsOn: CI
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  environment: 'Azure'
  strategy:
    runOnce:
      deploy:
        steps:
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: '$(frSshEndpoint)'
            sourceFolder: '$(Pipeline.Workspace)/app'
            contents: '**'
            targetFolder: '$(frSshTargetFolder)'
            readyTimeout: '20000'
            overwrite: true
