#language-picker {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1x)
}

#language-picker input {
    margin-left: var(--space-1x);
    margin-right: var(--space-1x);
}

#language-picker label {
    cursor: pointer;
}