form {
  align-items: center;
  display: flex;
  gap: var(--space-1x);
}

span {
  align-items: center;
  display: flex;
  flex-grow: 1;
  position: relative;
}

input {
  width: 100%;
}

.has-coords span::after {
  content: '\A0\2714';
  color: green;
  position: absolute;
  right: var(--space-1x);
}