#search-results  {
  padding-block-start: var(--space-2x);
}

#search-results div {
  cursor: pointer;
  margin-block-start: var(--space-2x);
  margin-block-end: var(--space-2x);
}

#search-results input {
  cursor: pointer;
  margin-inline-end: var(--space-1x);
}