.location-input {
  align-items: center;
  display: grid;
  column-gap: var(--space-1x);
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
}

.location-input input {
  width: 100%;
}

.location-input [role='tooltip'] {
  display: none;
  grid-row-start: 2;
  grid-column-start: 2;
  padding: var(--space-1x) var(--space-1x) 0 var(--space-1x);
}

.location-input input:focus+[role='tooltip'] {
  display: block;
}

.has-coords label::after {
  color: green;
  content: '\A0\2714';
}