.location-input {
  align-items: center;
  column-gap: var(--space-1x);
  display: grid;
  grid-template-columns: var(--form-label-width) 1fr auto;
  grid-template-rows: auto auto;
}

.location-input input {
  width: 100%;
}

.location-input [role='tooltip'] {
  display: none;
  grid-column-start: 2;
  grid-row-start: 2;
  padding: var(--space-1x) var(--space-1x) 0 var(--space-1x);
}

.location-input input:focus+[role='tooltip'] {
  display: block;
}

.has-coords input[type='search'] {
  border-color: var(--color-info);
}
