#start-date-input {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1x);
}

#start-date-input span {
    flex-grow: 1;
    position: relative;
}

#start-date-input input {
    width: 100%;
}

#start-date-input [for="start-at"] {
    width: var(--form-label-width);
}