#sun-duration-table {
    margin-top: var(--space-4x);
}

#sun-duration-table th[scope="row"] {
    font-weight: normal;
    text-align: right;
}

#sun-duration-table th[scope="col"] {
    font-weight: bold;
    text-align: center;
}
