table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
}

table caption {
    padding-bottom: var(--space-2x);
}

table th,
table td {
    padding: var(--space-1x);
    border-bottom: solid 1px #ccc;
}

table td {
    text-align: right;
}

/* https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/#svg-solution */
svg {
    width: 48px;
    height: 48px;
    transform: rotate(var(--heading-rotation));
    background: transparent;
    border-radius: 50%;
    border: solid 1px #ccc;
}

circle {
    fill: transparent;
    stroke: #ffb703aa;
    stroke-width: 32;
    stroke-dasharray: 12.5 100;
    /* for 38% */
}

#position-table p {
    text-align: center;
}