#chart-container {
    position: relative;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    padding: var(--space-4x) 0;
}

@supports (height: 100dvh) {
    #chart-container {
        max-height: 60dvh;
    }
}

figcaption {
    padding-block-start: var(--space-2x);
}