#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

#app > * {
  margin: 0 var(--space-4x) var(--space-4x) var(--space-4x);
}

#app > *:first-child {
  margin: var(--space-4x);
}

main > * + * {
  margin-block-start: var(--space-2x);
}

footer > a + a::before {
  content: ' • ';
}