/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing */

/* || GENERAL STYLES */

* {
  box-sizing: border-box;

  /* https://modernfontstacks.com/ */
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  margin: 0;
  outline-offset: 4px;
  padding: 0;
}

:root {
  --space-1x: 8px;
  --space-2x: calc(2 * var(--space-1x));
  --space-4x: calc(4 * var(--space-1x));
  --round-radius: 6px;
  --form-label-width: 6.5ch;
  --button-width: auto;
  --button-padding-x: 1em;
  --button-padding-y: .5em;

  /*
  https://coolors.co/ffcf57-c97064-fcfdff-007ea7-68a357
  https://coolors.co/ffcf57-0d1b2a-fcfdff-007ea7-706c61
  */
  --color-sunglow: #ffcf57;
  --color-sunglow-700: #B88400;
  --color-sunglow-900: #3D2C00;
  --color-indianred: #c97064;
  --color-indianred-600: #B54D40;
  --color-white: #fcfdff;
  --color-white-50: #fff;
  --color-cerulean: #007ea7;
  --color-cerulean-900: #006B8F;
  --color-cerulean-transparent: #007ea700;
  --color-asparagus: #68a357;
  --color-richblack: #0d1b2a;
  --color-dimgray: #706c61;
  --color-dimgray-200: #D0CEC8;

  /* light theme */
  --color-bg: var(--color-white);
  --color-text: var(--color-richblack);
  --color-interactive: var(--color-cerulean);
  --color-interactive-bg: var(--color-cerulean-900);
  --color-interactive-text: var(--color-white);
  --color-interactive-transparent: var(--color-cerulean-transparent);
  --color-heading: var(--color-sunglow-900);
  --color-heading-bg: var(--color-white-50);
  --color-accent: var(--color-sunglow);
  --color-accent-bg: var(--color-sunglow-700);
  --color-border: var(--color-dimgray);
  --color-disabled: var(--color-dimgray-200);
  --color-disabled-txt: var(--color-dimgray-200);
  --color-info: var(--color-asparagus);
  --color-error: var(--color-indianred-600);
}

@supports (height: 100dvh) {
  html,
  body {
    height: 100dvh;
  }
}

@media (width > 400px) {
  :root {
    --round-radius: 8px;
  }
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 16px;
  font-size: clamp(16px, calc(15px + 0.3906vw), 32px);
}

html[lang="en"] {
  --form-label-width: 9.5ch;
}

input,
select {
  accent-color: var(--color-interactive);
  font-size: inherit;
  padding: var(--space-1x);
}

input[type='text'],
input[type='search'],
input[type='date'],
input[type='time'] {
  border: solid 1px var(--color-border);
  border-radius: var(--round-radius);
}

input:disabled {
  border-color: var(--color-disabled);
}

button {
  font-size: inherit;
  padding: var(--space-1x) var(--space-2x);
}

svg {
  height: 32px;
  vertical-align: middle;
  width: 32px;
}

h1 {
  color: var(--color-heading);
}

main>* {
  margin-top: var(--space-2x);
}

main>*:first-child {
  margin-top: 0;
}

header {
  background-color: var(--color-heading-bg);
  border-bottom: solid 2px var(--color-accent);
  margin-bottom: var(--space-4x);
}


/* || UTILITIES */

.pulse {
  animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1) 10s 5;
}

@media (prefers-reduced-motion: reduce) {
  .pulse {
    animation: none;
  }
}

@keyframes pulse
{
    from { box-shadow: 0 0 0 0 var(--color-interactive-bg); }
    to { box-shadow: 0 0 0 45px var(--color-interactive-transparent); }
}

.spin {
  animation: spin 3s linear infinite;
  stroke: var(--color-accent-bg);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .spin {
    animation-duration: 10s;
  }
}

.visually-hidden.on-small-device:not(:focus, :active) {
  /* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.visually-hidden.on-large-device:not(:focus, :active) {
  clip: unset;
  clip-path: unset;
  height: unset;
  overflow: unset;
  position: unset;
  white-space: unset;
  width: unset;
}

@media (width > 400px) {
  .visually-hidden.on-small-device:not(:focus, :active) {
    clip: unset;
    clip-path: unset;
    height: unset;
    overflow: unset;
    position: unset;
    white-space: unset;
    width: unset;
  }
  
  .visually-hidden.on-large-device:not(:focus, :active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
}

/* || SITEWIDE */

#app {
  height: 100%;
}

#app>* {
  padding: 0 var(--space-2x) var(--space-4x) var(--space-2x);
}

#app>*:first-child {
  padding: var(--space-2x);
}

@media (width > 400px) {
  #app>* {
    padding: 0 var(--space-4x) var(--space-4x) var(--space-4x);
  }
  
  #app>*:first-child {
    padding: var(--space-4x);
  }
}

.btn {
  border: solid 1px transparent;
  border-radius: var(--round-radius);
  cursor: pointer;
  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  text-decoration: underline;
  text-underline-offset: 2px;
}

:active.btn {
  translate: 0 2px;
}

.btn-primary {
  background-color: var(--color-interactive-bg);
  color: var(--color-interactive-text);
  font-weight: bold;
}

.btn-secondary {
  background-color: var(--color-bg);
  border-color:  var(--color-interactive);
  color: var(--color-interactive);
  text-decoration: underline dotted;
}

.btn:disabled {
  background-color: var(--color-bg);
  border: solid 1px var(--color-disabled);
  color: var(--color-disabled-txt);
  text-decoration: none;
}

.btn svg {
  height: 16px;
  vertical-align: middle;
  width: 16px;
}

.loading-indicator {
  align-items: center;
  display: flex;
  gap: var(--space-1x);
}

.loading-indicator svg {
  stroke: var(--color-accent-bg);
}

/* || HOME PAGE */

#home .markup>* {
  margin-top: var(--space-2x);
}

#home .markup>*:first-child {
  margin-top: 0;
}

#home .markup li {
  margin: var(--space-1x) var(--space-1x) 0 var(--space-1x);
}

noscript p {
  margin-top: var(--space-2x);
}

#loading-error {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--space-2x);
}

#loading-error p {
  color: var(--color-error);
}
