* {
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --space-1x: 0.5rem;
  --space-2x: calc(2 * var(--space-1x));
  --space-4x: calc(4 * var(--space-1x));
}

@supports (height: 100dvh) {
  html,
  body {
    height: 100dvh;
  }
}

input,
select {
  padding: var(--space-1x);
}

button {
  padding: var(--space-1x) var(--space-2x);
}

svg {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

#app > * {
  padding: 0 var(--space-4x) var(--space-4x) var(--space-4x);
}

#app > *:first-child {
  padding: var(--space-4x);
}

main > * + * {
  margin-block-start: var(--space-2x);
}

#home>div>*+* {
  margin-block-start: var(--space-2x);
}

#home li {
  margin: var(--space-1x) var(--space-1x) 0 var(--space-1x);
}

noscript p {
  margin-block-start: var(--space-2x);
}